
@import url(footer.css);
@import url(navbar.css);

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;

}

body {
	margin:0;
	padding:0;
	font-family: "Raleway", sans serif;
	background-color:#282828;

}


.main-cont {
	display:flex;
	justify-content:center;
	/*align-items:center;*/
}

.sectionbackground {
	color:#ecf0f1;
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	/*width:80%;*/
	/*margin:auto;*/
	padding:50px 0;
}




/*Cards Agences*/

	.cards {
		display:flex;
		flex-flow:column;
		align-items:center;
		justify-content:center;
		padding:45px 40px;

		


	}



	.cards-line {
		display: flex;
	flex-flow:row wrap;
	justify-content:center;
	}

	.cardcontact {
	border: 3px solid #464646ff;
	border-radius: 5px;
	text-align: center;
	margin:15px 15px;
	background-color:black;
	color:#AAA;
	padding:43px;
	box-shadow:0px 0px 1px 1px white;
	


	}
	

	.cardcontact a {
		text-decoration: none;
		color:black;
		

	}

	.num {
		font-size: 25px;

	}

/*Formulaire de contact*/



	.form-contain {
	display:flex;
	justify-content: center;
	height:100%;
	margin:auto;
	align-items:center;
	padding:30px 40px;
	background-color:#ecf0f1;
	border-radius: 3px;
	}



	.form {
		display:flex;
		flex-flow:column nowrap;
		text-align:center;
		justify-content:center;
		text-align: center;
		border-radius: 3px;
		color:#4f5051;
	
	}

	

	.menuderoulant {
		margin-bottom: 5px;
		background-color: ;
		display:flex;
		flex-flow:row nowrap;
	}

	form {
		display:flex;
		flex-flow:column nowrap;
		align-items:flex-start;
		width:100%;
	}

	#id_demo {
		background-color: #282828;
		color: #C6C5C5;
		flex-grow:1;
		width:100%;
		margin:6px 0 1px 0;

	}


	#nom-prenom {
		display: flex;
	}

	#user, #comments, #adress, #postalcode, #city, #mail, #phone
	{
		border-radius: 3px;
		margin:5px 0;
		background-color: #282828;
		color:white;
	}


	#user:focus, #comments:focus, #adress:focus, #postalcode:focus, #city:focus, #mail:focus, #phone:focus {
		background-color: #111;
		outline:none;
		transition:all 0.3s ease-in-out;
		}	

	#user {
		flex-grow:1;
		height: 30px;

	}

	.postaldiv {
	display: flex;
	flex-flow:row wrap;
	}

	.postaldiv input {
		height: 30px;
		flew-grow:1;
	}

	.numerodiv {
		display:flex;
		flex-flow:row wrap;

	}

	.numerodiv input {
		height: 30px;
		flex-grow:1;
	}

	#comments {
		width: 100%;
		height:150px;
		text-align: center;
	}



		

	input {
		margin-bottom: 10px;
		width: 150px;
		height: 20px;
		flex-grow:1;
		font-family: "Raleway", sans serif;
		/*border:1px solid black;*/

	}


	#send {
		width: 150px;
		height: 30px;
		border-radius:3px;
		border:none;
		text-align: center;
		font-family: "Raleway" sans serif;
		font-size:12px;
		background-color: #282828;
		margin:30px auto 0 auto;
		color: #AFB3B3;


	}


.pop-up-menu {

}

.pop-up-menu img{
padding:0 !important;
height:30% !important;
width:100% !important;
margin-bottom:-20px;
margin-top:-10px;
}

/*	MEDIA QUERIES */

@media screen and (max-width: 550px) {
	.sectionbackground {
		padding:0;
	}
	
	.cards {
		padding:10px 0;

	}

	.form-contain {
		/*width:70%;*/
	}
	
	.form {
		/*width:80%;*/
	}
}




