footer {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}
.rubrique {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-weight: bolder;
  flex-wrap: wrap;
}
.rubrique a {
  text-decoration: none;
  color: rgb(163, 161, 161);
  margin: 30px;
  transition: 0.4s;
}
.rubrique a:hover {
  color: rgb(82, 82, 82);
}
.link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-top: 1px solid rgb(84, 83, 83);
  width: 70%;
  height: 80px;
  text-align: center;
}
.link h4 {
  margin: 20px;
}
.icone {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.link a {
  text-decoration: none;
}
.icone i:hover {
  color: rgb(198, 190, 190);
}
.icone i {
  padding: 20px;
  border: 1px solid rgb(84, 83, 83);
  border-radius: 50% 50%;
  width: 0.3px;
  height: 0.3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(111, 108, 108);
  transition: 0.3s;
}
.inc p {
  margin: 20px;
  font-size: 0.7em;
  color: rgb(108, 106, 106);
}

@media screen and (max-width: 360px){
  .rubrique {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    font-weight: bolder;
    flex-wrap: wrap;
  }
  .rubrique a {
    text-decoration: none;
    color: rgb(163, 161, 161);
    margin: 10px;
    transition: 0.4s;
  }
}
