@import url(footer.css);
@import url(navbar.css);


body {
	margin:0;
	font-family: 'Raleway', sans-serif;
}

.gauche {
		background-color: black;
			min-height: 130vh;


}

aside {
	min-width: 20%;
	color: white;
	padding: 80px 30px;
}

#nosbiens {
	display: flex;
}

form  {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}

.locations form input {
	padding: 6px 0;
	border-radius: 6px;
	margin-top: 10px;
}
.button1 button{
	padding: 9px;
	font:bold 13px ;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
}

.droite {
	width: 100%;
	padding: 50px 10px;
}

.droite-haut {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}


.card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
	background-color: white;
	width: 400px;
	margin: 25px 25px;

}

.prix{
	width: 400px;
	display: flex;
	justify-content: space-between;
}



.droite-haut img {
	width: 400px;

}

.droite-haut img:hover { 
	opacity: 0.7; 
	filter: alpha(opacity=30); 
}

h2, h4 {
	margin:0;
	padding: 5px; 0
}

@media screen and (max-width: 768px){
	aside {
		height: 180vh;
	}
	#nav-img-2 {
		display: none;
	}
}

@media screen and (max-width: 360px){
	#nosbiens {
		display: flex;
		flex-direction: column;
	}
	body {
		width: 358px;
	}
	aside h2 {
		font-size: 20px;
	}

	.card-1, .card-2, .card-3, .card-4, .card-5, .card-6{

		max-width: 350px;
	}
	.gauche {
		height: 100vh;
	}
	.droite-haut {
		max-width: 358px;
	}
	.droite-haut img {
		width: 350px;
	}
	.prix {
		display: flex;
		flex-direction: column;
	}
	.droite {
	margin: 0;
	padding: 0;
	}
	#nav-img-2 {
		display: none;
	}
	.button1 button {
		width: 100%;
	}
}