@import url(footer.css);
@import url(navbar.css);


body {
	margin:0;
}

aside {
	background-color: black;
	min-width: 22%;
	height: 80vh;
	color: white;
	font-size: 20px;
	padding: 20px 30px;
}

form  {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}

.locations form input {
	padding: 6px 10px;
	border-radius: 6px;
	margin-top: 18px;
}

.droite {
	background-color: blue;


}
main.droite-haut {
	width: 80%;
	display: flex;
	justify-content: space-around;
	margin: 0;

}

#nosbiens {
	display: flex;
}

.card-1 {
	background-color: white;
}
.card-2 {	background-color: pink;
}


img {
	height: 50vh;

}

.droite-haut p {
	font-family: 'Montserrat';
}