@import url(footer.css);
@import url(navbar.css);


body {
	margin:0;
}

aside {
	background-color: black;
	min-width: 22%;
	min-height: 120vh;
	color: white;
	font-size: 20px;
	padding: 20px 30px;
}

#nosbiens {
	display: flex;
}

form  {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}

.locations form input {
	padding: 6px 10px;
	border-radius: 6px;
	margin-top: 18px;
}

.droite {
	width: 100%;
	padding: 15px 0;

}
.droite-haut {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;


}


.card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
	background-color: white;
	width: 400px;

}

.prix{
	width: 400px;
	display: flex;
	justify-content: space-between;
}



.droite-haut img {
	width: 400px;

}

.droite-haut h4  {
	font-family: 'Raleway';
}