@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(navbar.css);
@import url(footer.css);


@font-face {
    font-family: HelveticaNeue;
    src: url(Fonts/HelveticaNeue.ttf);
}


/*/////////////////////////////////PARALLAX//////////////////////////////////////////*/


html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Raleway;
}

h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

#slide1 img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(0deg);
  padding: 2px;
  border-radius: 3px;
background: linear-gradient(45deg, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

#slide1 img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(0deg);
}

#slide2 img{
  position: absolute;
  top: 50%;
  right: 9%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(0deg);
  padding: 2px;
  border-radius: 3px;
background: linear-gradient(45deg, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

#slide2 img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(0deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(0,0,0, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  color:#EEE;
}

.title p {
  color:#AAA;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
  padding-left:0;
  height:100vh;
}



#title {
  background-image: url("../images/001-DSCF1480-2013-2.jpg");
   background-attachment: fixed;  
   display:flex;
   align-items:center;
   /*justify-content:center;*/
   flex-flow:column nowrap;
}

#slide1:before {
  background-image: url("http://bgfons.com/upload/stone_texture566.jpg");
  transform: translateZ(-1px) scale(2.2);
  z-index:-1;
}

#slide2 {
  background-image: url("../images/tom-cruise-villa-hd.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("../images/villa.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}


/*/////////////////////////////////////////////////////////////*/


#title h1 {
  font-size:330%;
  margin:6% 10% 0 20%;
  padding:0;
  font-weight:400;
}

.header h4 {
margin:0 10% 0 37%;
}


footer {
  height:50vh;
  display:flex;
  justify-content:center;
}


@media screen and (max-width:786px) {

#title h1 {
		font-size:230%;
} 

}

@media screen and (max-width:410px) {

#title h1 {
		font-size:170%;
} 

#title h4 {
	margin-left:23%;
    font-size:100%;
    margin-top:3%;
}

}



















